# JetBrains - Developer Tools for Professionals and Teams
.idea/

# Visual Studio Code - Code Editing - Redefined
.vscode/

# Operating System
.DS_Store

# Dependencies
node_modules/

# Logs
logs/
*.log

# Runtime Data
pids/
*.pid
*.seed
*.pid.lock

# Distribution and Build
.buildResult/
build/

# Test Coverage
coverage/
